<div class="container mb-5 mt-5" >
<h1 class="text-center">About</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, illum cupiditate? Accusantium deleniti nam, eius eligendi minima debitis voluptate! Iste iure, expedita sapiente et distinctio porro! Ex reiciendis voluptate quibusdam?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus earum ipsa sed dolores in et aspernatur dolor minima expedita numquam, voluptate quaerat ad provident non aperiam voluptatibus facilis quam odit.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aliquid voluptate ad nemo eum odio minima exercitationem, ducimus ut expedita accusantium, possimus quidem sapiente voluptates quasi ipsam! Placeat, assumenda voluptatum?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aliquid voluptate ad nemo eum odio minima exercitationem, ducimus ut expedita accusantium, possimus quidem sapiente voluptates quasi ipsam! Placeat, assumenda voluptatum?
  <br/>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati libero illo molestias at adipisci blanditiis, incidunt sint harum hic, numquam beatae officia ea esse, error ullam labore expedita veniam commodi?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus earum ipsa sed dolores in et aspernatur dolor minima expedita numquam, voluptate quaerat ad provident non aperiam voluptatibus facilis quam odit.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aliquid voluptate ad nemo eum odio minima exercitationem, ducimus ut expedita accusantium, possimus quidem sapiente voluptates quasi ipsam! Placeat, assumenda voluptatum?
  <br/>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus earum ipsa sed dolores in et aspernatur dolor minima expedita numquam, voluptate quaerat ad provident non aperiam voluptatibus facilis quam odit.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aliquid voluptate ad nemo eum odio minima exercitationem, ducimus ut expedita accusantium, possimus quidem sapiente voluptates quasi ipsam! Placeat, assumenda voluptatum?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati libero illo molestias at adipisci blanditiis, incidunt sint harum hic, numquam beatae officia ea esse, error ullam labore expedita veniam commodi?
</p>
</div>
